/*Zástupný text na hlavní stránce*/
::placeholder {
    color: black;
    opacity: .3;
}

html {
  height: 100%;
  box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #136a8a, #267871);
 position: relative;
  margin: 0;
    margin-bottom: -1em;
  min-height: 100%;
}


.urlform {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0;
}


.adresa input[type=text] {
    width: 80%;
    background: #eaeaea;
    border: 0;
    padding-left: 1em;
    transition-timing-function: ease-in-out;
    transition: 0.25s;
    color: rgb(0 0 0 / 50%);
}

.adresa input[type=text]:focus {
    outline: 0;
    background-color: #fcfcfc;
    transition-timing-function: ease-in-out;
}


.adresa button {
    background: #ef3f5a;
    border: 1px solid #ef3f5a;
    color: #fff;
    padding: 0 30px;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.adresa button:hover {
    background: #d73851;
    border: 1px solid #d73851;
}

form {
    display: flex;
    width: 70vw;
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.2);
    line-height: 3em;
}

input[type=text] {
    flex-grow: 1;
}

.text-form {
    color: #fff;
    text-align: center;
}

.text-form-framework{color: white; padding-top: .5em; text-align: center}

.footer {
     position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
    padding-bottom: 2em;
  text-align: center;
    color: white;
}

.udaje{padding-left: 5em;
    padding-right: 5em;
 max-height: 10vh;

}

.udaj-title{
    padding-top: 1em;
    padding-bottom: 2em;
    text-align: center;
    color: black;
}



.udaj-vypis{
    padding-top: 1em;
    padding-bottom: 1em;
    color: black;
}



.vys{
    padding-top: 2em;
}

.back{
    margin: 1em;
    font-size: 2.2em;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    top: 0;
    color: #ef3f5a;
    cursor: pointer;
    border: 0;
    outline: 0!important;
    transition-timing-function: ease-in-out;    
    transition: all 0.2s;
    float: left;
}


.back:hover{color: #d73851!important;}

.prehled{
       background: #ef3f5a;
    border: 0;
    outline: 0;
    cursor: pointer;
    padding: 1.2em;
    width: 80%;
    color: white;
    float: right;
    margin: 2em;  transition-timing-function: ease-in-out;    
    transition: all 0.2s;
}
.prehled:hover{background: #d73851;}



.udaj-title-pad{padding-top: 1em;}

.white{
    background-color: #eaeaea;
    margin: 1em;
}

.statistiky{
    background-color: #fff!important;
    padding: 1em;
    margin-top: 2em;
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.2);
}

.statistiky-table{
    background-color: #fff!important;
    padding: 2em 2em 2em 2em;
    margin: 2em 0 0em 0;
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.2);
   
}

.center{
    text-align: center;
}

.push{padding-top: 1em;}

.r-minus{
    padding-right: 0!important;
}
.l-minus{
    padding-left: 0!important;
}

.zprava-db{ position: absolute;
     padding: 1em;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0;
     background-color: #fff!important;
     box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.2);
}
.text-black{
    color: black;
}